div.resume{
    background: rgba(245, 245, 245, 0.637);
    padding: 4rem;
    padding-top: 14rem;
}
.one{
    text-align: center;
}


@media screen and (max-width: 784px) {
    div.resume{
       
        padding: 2rem;
    }
}